extends layout

block content
   h1= title
   p Welcome to #{title}
   ul#nav
      li
         a(href='/') Home
      li
         a(href='/burgers') Burgers
      li
         a(href='/sides') Sides
      li
         a(href='/desserts') Desserts
      li
         a(href='/directions') Directions
   div(id='map', class='map')
      - var olMap = "var map = new ol.Map({target: 'map', layers: [new ol.layer.Tile({source: new ol.source.OSM()})], view: new ol.View({center: ol.proj.fromLonLat(40.7608, 111.8910]), zoom: 6})});"
      script= olMap