extends layout

block content
   h1= title
   p Welcome to #{title}
   ul#nav
      li
         a(href='/') Home
      li
         a(href='/burgers') Burgers
      li
         a(href='/sides') Sides
      li
         a(href='/desserts') Desserts
      li
         a(href='/directions') Directions
   div(id='map', class='map')
   <!--Do not touch the line of code below, pug does not allow for multi line-->
      - var olMap = "var map = new ol.Map({target: 'map', layers: [new ol.layer.Tile({source: new ol.source.OSM()})], view: new ol.View({center: ol.proj.fromLonLat([-111.9, 40.78]), zoom: 10})}); var layer = new ol.layer.Vector({source: new ol.source.Vector({features: [new ol.Feature({geometry: new ol.geom.Point(ol.proj.fromLonLat([-111.9, 40.78]))})]})}); map.addLayer(layer); var container = document.getElementById('popup'); var content = document.getElementById('popup-content'); var closer = document.getElementById('popup-closer'); var overlay = new ol.Overlay({element: container, autoPan: true, autoPanAnimation: {duration: 250}}); map.addOverlay(overlay); closer.onclick = function() { overlay.setPosition(undefined); closer.blur(); return false; }; map.on('singleclick', function (event) { if (map.hasFeatureAtPixel(event.pixel) === true) {var coordinate = event.coordinate; content.innerHTML = '<img src='#'><br/><h5>Express Burgers</h5; overlay.setPosition(coordinate); } else {overlay.setPosition(undefined); closer.blur(); }});"
   div(id="popup" class="ol-popup")
      a(href="#" id="popup-closer" class="ol-popup-closer")
      div(id="popup-content")

   script= olMap
