extends layout

block content
   h1= title
   #nav
      ul
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions
   #foodPic
      img#food(src='https://www.chicken.ca/assets/RecipePhotos/_resampled/FillWyIxNDQwIiwiNzAwIl0/Big-Juicy-Burgers.jpg')
   #about
      #aboutUs
         h2= aboutTitle
         p= aboutBody
      img#storeFront(src='#')