doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css", type="text/css")
      script(src='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js')
   body
      block content
   footer#navFoot
      p All Rights Reserved | 2020
      ul
         li
            a(href='/') Home
         li |
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions