doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      block content
   footer
      p All Rights Reserved | 2020
      ul#nav
         li
            a(href='/') Home
         li
            a(href='/burgers') Burgers
         li
            a(href='/sides') Sides
         li
            a(href='/desserts') Desserts
         li
            a(href='/directions') Directions