body {
  min-width: 550px;
  padding: 25px 50px 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.map {
  height: 400px;
  width: 100%;
}

.ol-overlay-container.ol-selectable {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 0 15px 15px;
  border: grey 2px solid;
  padding: 5px;
}

#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  background-color: whitesmoke;
  height: 50px;
  margin: 0 0 25px 0;
  padding: 0;
  align-items: center;
}

#nav ul li {list-style: none;}

#nav ul li a {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 15px;
}

#nav ul li a:hover {
    background-color: white;
}

#nav {
    margin-top: 35px;
}

h1 {
  margin: auto;
  width: fit-content;
  border: grey 3px solid;
  padding: 35px;
  border-radius: 20px 20px 0;
}

#navFoot li {
  list-style: none;
  margin: 0 5px;
}

#foodPic {
  height: 450px;
}

#about {
  margin: 5% 0 0 5%;
  display: flex;
}

img#storeFront {
  margin: 0 5% 0 8%;
  width: 350px;
  height: 200px;
}

#about h2 {
margin-top: 6%;
text-align: center;
}

#about p {
text-align: center;
}

footer#navFoot {
  border-top: grey solid;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 8%;
}

footer#navFoot p {
  color: grey;
  margin-left: 0%;
  width: 1000%;
}

footer#navFoot ul {
  display: flex;
}

#navFoot ul li {
  color: grey;
}

#navFoot ul li a {
  text-decoration: none;
  color: grey;
}

#navFoot ul li a:hover {
  color: black;
}

#foodPic img#food {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

#foodPic p {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 450px;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    font-size: 40px;
    background-color: white;
    opacity: 80%;
}

#menu {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
}

.menuItem {
text-align: center;
margin-top: 15%;
}

.menuItem img {
  width: 150px;
  height: 150px;
  margin-bottom: 5%;
}

.menuItem h3 {
  text-transform: uppercase;
  font-size: 130%;
  margin: 8% auto;
}

.menuItem p {
  width: 90%;
  margin: 5% auto;
}