body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.map {
  height: 400px;
  width: 100%;
}

.ol-overlay-container.ol-selectable {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 0 15px 15px;
  border: grey 2px solid;
  padding: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
}

